<template>
  <v-card outlined :color="`${color} lighten-5`">
    <v-card-title class="title">
      {{ goal }}
    </v-card-title>
    <v-card-text>
      <v-text-field
        label="Choice 1"
        v-model="variants[0]"
        :append-icon="correct_variants.indexOf(variants[0]) !== -1 ? 'mdi-check-outline' : ''"
      >

      </v-text-field>
      <v-text-field
        label="Choice 2"
        v-model="variants[1]"
        :append-icon="correct_variants.indexOf(variants[1]) !== -1 ? 'mdi-check-outline' : ''"
      >

      </v-text-field>
      <v-text-field
        label="Choice 3"
        v-model="variants[2]"
        :append-icon="correct_variants.indexOf(variants[2]) !== -1 ? 'mdi-check-outline' : ''"
      >

      </v-text-field>
      <v-select
        :items="variants"
        v-model="correct_variants"
        outlined
        multiple
        label="Choose correct answers"
      ></v-select>
    </v-card-text>
    <v-card-actions>
      <v-btn
        block
        large
        text
        @click="onSave"
      >
        Save question
      </v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
  import { mapActions, mapState } from 'vuex'
  import { map } from 'lodash'

  export default {
    props: ['color', 'prev_id', 'goal', 'index'],
    data () {
      return {
        variants: [],
        correct_variants: []
      }
    },
    computed: {
      ...mapState(['sectionId'])
    },
    methods: {
      ...mapActions(['saveExamQuestion']),
      onSave () {
        let question = {
          section_id: parseInt(this.sectionId),
          is_available: true,
          type: 'single',
          prev_id: this.prev_id,
          variants: this.variants,
          correct_variants: map(this.correct_variants, variant => {
            return this.variants.indexOf(variant)
          })
        }
        this.saveExamQuestion(question).then(prevId => {
          this.variants = []
          this.correct_variants = []
          this.$emit('save', prevId)
        })
      }
    }
  }
</script>
