<template>
  <v-container fluid>
    <v-row>
      <v-col
        cols="4"
        v-for="(goal, i) in goalsStatements"
        :key="i"
      >
        <evaluation-card
          :color="color(goal)"
          :goal="goal"
          :prev_id="prev_id"
          @save="onSave"
        />
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
  import { mapState, mapActions } from 'vuex'
  import { find } from 'lodash'
  import EvaluationCard from "./EvaluationCard";

  export default {
    data () {
      return {
        prev_id: 0
      }
    },
    computed: {
      ...mapState([
        'goalsStatements',
        'bloom',
        'sectionId'
      ])
    },
    components: {
      EvaluationCard
    },
    methods: {
      ...mapActions(['saveExamQuestion']),
      onSave (prevId) {
        this.prev_id = prevId
      },
      color (statement) {
        let verb = statement.split(' ')[0].toLowerCase()
        return find(this.bloom, item => {
          return item.verbs.indexOf(verb) !== -1
        }).color
      }
    }
  }
</script>
