<template>
  <v-container fluid>
    <v-row v-for="(goal, i) in goals"
           :key="i"
    >
      <v-text-field
        :label="goal.verb"
        full-width
        :color="goal.color"
        v-model="goalsStatements[i]"
      >
      </v-text-field>
    </v-row>
    <v-row v-if="goalsStatements.length !== 0">
      <v-btn
        large
        color="success"
        outlined
        block
        tile
        @click="onClickSave"
      >
        SAVE GOALS
      </v-btn>
    </v-row>
    <v-row>
      <v-col cols="4" v-for="(level, i) in levels" :key="i">
        <v-card outlined :color="`${level.color} lighten-3`">
          <v-card-title class="title">{{level.name}}</v-card-title>
          <v-divider />
          <v-card-text>
            <v-container fluid>
              <v-row>
                <v-col v-for="(verb, i) in level.verbs">
                  <v-btn
                    small
                    rounded
                    depressed
                    @click="addGoal(verb, level.color)"
                    :disabled="findGoal(verb) !== undefined"
                  >
                    {{verb}}
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
  import { find } from 'lodash'
  import { mapActions } from 'vuex'
  export default {
    data () {
      return {
        levels: [
          {name: 'Knowledge', verbs: ['define', 'list', 'state', 'identify'], color: 'blue'},
          {name: 'Comprehension', verbs: ['explain', 'predict', 'interpret', 'convert', 'give an example of', 'summarize'], color: 'purple'},
          {name: 'Application', verbs: ['modify', 'demonstrate', 'apply'], color: 'red'},
          {name: 'Analysis', verbs: ['compare', 'contrast', 'distinguish'], color: 'orange'},
          {name: 'Synthesis', verbs: ['design', 'construct', 'develop', 'formulate'], color: 'green'},
          {name: 'Evaluation', verbs: ['justify', 'evaluate', 'judge'], color: 'orange'}
        ],
        goals: [],
        goalsStatements: []
      }
    },
    methods: {
      ...mapActions(['saveGoalsStatements']),
      findGoal (verb) {
        return find(this.goals, {verb})
      },
      addGoal (verb, color) {
        this.goals.push({verb, color})
      },
      onClickSave () {
        this.saveGoalsStatements(this.goalsStatements)
      }
    }
  }
</script>
