<template>
  <v-container>
    <v-row>
      <v-col cols="4">
        <v-card outlined color="yellow lighten-5">
          <v-card-title>GOALS</v-card-title>
          <v-card-text>
            <v-chip v-for="goal in goalsStatements" :key="goal">{{goal}}</v-chip>
          </v-card-text>
        </v-card>
        <v-card outlined color="blue lighten-5">
          <v-card-title>EXAM</v-card-title>
          <v-card-text>
            <v-chip v-for="question in examQuestions" :key="goal">{{question.variants}}</v-chip>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="8">
        <v-card>
          <v-card-title class="title">{{sectionTitle}}</v-card-title>
          <v-card-text>
            <v-text-field full-width v-model="question" label="Add a question">
            </v-text-field>
            <v-textarea full-width v-model="answer" label="Add an answer">
            </v-textarea>
          </v-card-text>
          <v-card-actions>
            <v-btn large block outlined warning @click="onSave">
              save question and answer
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
  import { mapState, mapActions } from 'vuex'
  export default {
    data () {
      return {
        question: '',
        answer: '',
        prev_id: 0
      }
    },
    computed: {
      ...mapState(['sectionTitle', 'sectionId', 'goalsStatements', 'examQuestions'])
    },
    methods: {
      ...mapActions(['saveQuestion']),
      onSave() {
        // {
        //   "section_id": 0,
        //   "prev_id": 0,
        //   "question": "string",
        //   "answer": "string",
        //   "is_available": true,
        //   "is_important": true
        // }
        this.saveQuestion({
          section_id: this.sectionId,
          prev_id: this.prev_id,
          question: this.question,
          answer: this.answer,
          is_available: true,
          is_important: true
        }).then(id => {
          this.prev_id = id
          this.question = ''
          this.answer = ''
        })
      }
    }
  }
</script>
