<template>
  <v-container>
    <v-row v-if="sectionId">
      <h1>{{sectionTitle}}</h1>
    </v-row>
    <v-row v-if="!sectionId">
      <v-text-field
        full-width
        v-model="title"
        label="Title"
        append-outer-icon='mdi-send'
        @click:append-outer="onSave"
        color="success"
      ></v-text-field>
    </v-row>
    <v-row>
      <v-col cols="4">
        <v-btn
          outlined
          block
          large
          :disabled="!goalsButtonEnabled"
          @click="onClickGoals"
        >
          GOALS?
        </v-btn>
      </v-col>
      <v-col cols="4">
        <v-btn
          outlined
          block
          large
          :disabled="!evaluationButtonEnabled"
          @click="onClickEvaluation"
        >
            EVALUATION ?
        </v-btn>
      </v-col>
      <v-col cols="4">
        <v-btn
          outlined
          block
          large
          :disabled="!questionsButtonEnabled"
          @click="onClickQuestions"
        >
            QUESTIONS AND ANSWERS
        </v-btn>
      </v-col>
    </v-row>
    <v-row>

    </v-row>
    <v-row v-if="showGoals">
      <goals />
    </v-row>
    <v-row v-if="showEvaluation">
      <evaluation />
    </v-row>
    <v-row v-if="showQuestions">
      <questions />
    </v-row>
  </v-container>
</template>
<script>
  import Goals from '~/components/Goals'
  import Evaluation from '~/components/Evaluation'
  import Questions from '~/components/Questions'

  import { mapActions, mapState } from 'vuex'
  export default {
    data () {
      return {
        showGoals: false,
        showEvaluation: false,
        showQuestions: false,
        title: ''
      }
    },
    computed: {
      ...mapState([
        'sectionTitle',
        'sectionId',
        'goalsStatements',
        'examQuestions'
      ]),
      goalsButtonEnabled () {
        return this.sectionId       &&
          this.goalsStatements.length === 0
      },
      evaluationButtonEnabled () {
        return this.goalsStatements.length !== 0 && !this.showQuestions
      },
      questionsButtonEnabled () {
        return this.examQuestions.length !== 0
      }
    },
    components: {
      Goals,
      Evaluation,
      Questions
    },
    methods: {
      ...mapActions(['saveSection']),
      onSave() {
        this.saveSection({title: this.title})
      },
      onClickGoals () {
        this.showGoals = true
      },
      onClickEvaluation () {
        this.showEvaluation = true
        this.showGoals = false
      },
      onClickQuestions () {
        this.showQuestions = true
        this.showEvaluation = false
      }
    }
  }
</script>
