<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card
          min-height="500px"
          outlined
          color="yellow lighten-5"
          class="align-self-stretch flex-column d-flex"
        >
          <v-card-title class="headline">
            {{ question.question }}
          </v-card-title>
          <v-divider />
          <v-card-text class="subtitle-1 grow d-inline-block">
            <p v-if="showInfo">
              {{ question.answer }}
            </p>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions v-if="showInfo">
            <v-btn block text @click="onClickNext">next
              <v-icon>navigate_next</v-icon>
            </v-btn>
          </v-card-actions>
          <v-card-actions v-if="!showInfo">
            <v-btn
              color="warning"
              @click="onCancel"
            >
              <v-icon left>cancel</v-icon>
              Not interested
            </v-btn>
            <v-spacer />
            <v-btn
              color="success"
              @click="showInfo=true"
            >
              I am interested!
              <v-icon>check</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  data () {
    return {
      showInfo: false,
      showExam: false,
      currentIndex: 0
    }
  },
  computed: {
    ...mapState(['questions']),
    question () {
      if (!this.questions[this.currentIndex]) {
        return {question: 'No more questions'}
      }
      return this.questions[this.currentIndex]
    }
  },
  methods: {
    ...mapActions(['fetchQuestions']),
    nextIndex () {
      if (this.currentIndex === this.questions.length - 1) {
        this.currentIndex = 0
      } else {
        this.currentIndex = this.currentIndex + 1
      }
    },
    onCancel () {
      this.nextIndex()
    },
    onClickNext () {
      this.showInfo = false
      this.nextIndex()
    }
  },
  mounted () {
    this.fetchQuestions()
  }
}
</script>
